@page
@model pizza_hz.Pages.Admin.IndexModel
@{
}

<h1>Vous devez vous authentifier</h1>

<form method= "post">
    <input type="text" name="username" placeholder="Login" />
    <br /><br />
    <input type="password" name="password" placeholder="Mot de passe" /> 
    <br /><br />
    <button>Se connecter</button>
</form>
