:root{
    --color-first: #8BA1BB; 
    --color-second: #6C829D;
}

* {
    overflow: auto;
}

body{
    background-color: var(--color-first);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

h1{
    text-align: center;
    margin-bottom: 1%;
}

#contenu{
    background-color: white;
    margin: 40px 8px 40px 8px;
    padding: 0px 8px 20px 8px;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.2);
    overflow: visible;
}

div.categorie{
    margin: 0;
    margin-top: 0;
    overflow: visible;
}

p.categorie{
    background-color: black;
    color: white;
    padding: .5% 2%;
    font-size: 25px;
    font-weight: bold;
    display: inline-block;
    margin-top: -15px;
    
}

.centre{
    text-align: center;
    width: 100%;
}

p.description{
    max-width: 400px;
    display: inline-block;
}

div.separateur{
    width: 100px;
    height: 1px;
    background-color: black;
    margin-left: auto;
    margin-right: auto;
}

.info{
    position: relative;
}

.table-info{
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    background-color: #6C829DC0;
    height: 50px;
}

.table-info td{
    text-align: center;
    vertical-align: top;
    font-size: 12px;
}

.table-info th{
    vertical-align: bottom;
    padding-bottom: 1%;
    font-size: 14px;
}

.img-block{
    display: block;
    max-height: 499px;
    object-fit: cover;
}

div.colonne{
    width: 100%;
    margin-top: 2%;
}

.colonne h2{
    text-align: center;
    text-transform: uppercase;
    font-size: 15px;
    border-bottom: 5px solid var(--color-second);
    padding-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%;
}

.colonne1 ul{
    list-style: none;
    padding: 0;
}

.colonne1 li{
    border: 1px solid lightgray;
    margin: 1%;
    padding: 2%;
    text-align: center;
}


div.colonne1{
    display: inline-block;
}

table.preparation p.numero{
    background-color: var(--color-second);
    color: white;
    width: 25px;
    height: 25px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    padding-top: 4px;
    box-sizing: border-box;
    border-radius: 50%;
    margin: 0;
}

table.preparation td{
    vertical-align: top;
}

table.preparation td.preparation_etape{
    font-size: 16px;
    padding-left: 10px;
    padding-bottom: 10px;
}

table.preparation tr{
    min-height: 100px;
}

/*Styles pour ordinateur*/
@media only screen and (min-width: 768px) {
    #contenu {
        min-width: 350px;
        padding-top: 0;
        padding-left: 2%;
        padding-right: 2%;
        margin: 4% 10% 4% 10%;
    }

    .table-info{
        height: 80px;
    }
    
    .table-info td{
        font-size: 14px;
    }
    
    .table-info th{
        font-size: 16px;
    }

    div.colonne{
        width: 45%;
    }
    div.colonne1{
        margin-right: 10%;
    }
    
    div.colonne2{
        float: right;
    }
}

@media only screen and (min-width: 900px){
    #contenu {
        width: 675px;
        margin-left: auto;
        margin-right: auto;
    }
}